.header {
    height: 80vh;

    @include flex-y;
    justify-content: center;

    &-image {
        margin-bottom: 1.5rem;
    }

    @include respond(phone) {
        &-image { margin-bottom: 3rem; }
    }
}